<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>模块管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">

    <script src="../../../javascripts/jquery-3.3.1.min.js"></script>
    <script src="../../../javascripts/basetable.js"></script>
</head>

<body>


    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">模块管理</div>
                    <div class="layui-card-body">
                        <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">
                            <button class="layui-btn" data-type="add">新增模块</button>
                        </div>

                        <table class="layui-hide" id="test-table-operate" lay-filter="test-table-operate"></table>

                        <script type="text/html" id="test-table-operate-barDemo">
                            <a class="layui-btn layui-btn-xs" lay-event='edit'>修改</a>
                            <a class="layui-btn layui-btn-xs" lay-event='view'>查看</a>
                            <a class="layui-btn layui-btn-xs" lay-event='rebuild'>执行</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs"lay-event='del'>删除</a>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../../layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'table', 'view', 'form', 'util', 'myUtils', 'layer'], function () {
            var table = layui.table
                , admin = layui.admin
                , view = layui.view
                , form = layui.form
                , util = layui.util
                , myUtils = layui.myUtils
                , layer = layui.layer;
            var tableName = 'Module';

            var tableIns = table.render({
                elem: '#test-table-operate'
                , url: '/base/searchList'
                , where: { tableName: tableName }
                , cellMinWidth: 100
                , cols: [[
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'id', title: 'id', hide: true }
                    , { field: 'name', title: '模块名', fixed: 'left', width: 150 }
                    , { field: 'moduleId', title: '模块ID', width: 150 }
                    , {
                        field: 'is_child', title: '是否子模块', templet: (d) => {
                            var str = "";
                            if (d.is_child == 1) str = "是";
                            if (d.is_child == 2) str = "否";
                            return str;
                        }
                    }
                    , { field: 'parent_module', title: '父模块' }
                    , {
                        field: 'kind', title: '模块类型', templet: (d) => {
                            var str = "";
                            if (d.kind == 1) str = "推送";
                            if (d.kind == 2) str = "拉取";
                            return str;
                        }
                    }
                    , {
                        field: 'state', title: '任务执行状态', templet: (d) => {
                            var str = "";
                            if (d.state == 1) str = "是";
                            if (d.state == 2) str = "否";
                            return str;
                        }
                    }
                    , { field: 'table_name', title: '读取表名' }
                    , { field: 'target_table_name', title: '写入表名' }
                    , { field: 'read_db', title: '读取数据库' }
                    , { field: 'write_db', title: '写入数据库' }
                    , { field: 'pull_api', title: '拉取信息接口' }
                    , { field: 'send_api', title: '推送信息接口' }
                    , {
                        field: 'polling_mode', title: '拉取信息轮询方式', templet: (d) => {
                            var str = "";
                            if (d.polling_mode == 1) str = "间隔X毫秒拉取";
                            if (d.polling_mode == 2) str = "固定时间点拉取";
                            return str;
                        }
                    }
                    , { field: 'interval_', title: '间隔时间' }
                    , { field: 'timeField', title: '时间字段' }
                    , { field: 'timestamp_', title: '时间戳' }
                    , {
                        field: 'dateCreated', title: '创建时间', templet: (d) => {
                            return util.toDateString(d.dateCreated, "yyyy-MM-dd HH:mm:ss");
                        }
                    }
                    , {
                        field: 'lastUpdated', title: '修改时间', templet: (d) => {
                            return util.toDateString(d.lastUpdated, "yyyy-MM-dd HH:mm:ss");
                        }
                    }
                    , { minWidth: 220, align: 'center', fixed: 'right', toolbar: '#test-table-operate-barDemo' }
                ]],
                page: true
            });

            var $ = layui.$, active = {
                add: function () { //新增
                    savePanel('/base/save', null, tableIns, tableName);
                }
            };
            $('.test-table-operate-btn .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

            //监听工具条
            table.on('tool(test-table-operate)', function (obj) {
                var data = obj.data;
                if (obj.event === 'edit') {
                    savePanel('/base/save', data, tableIns, tableName);
                } else if (obj.event === 'view') {
                    savePanel(null, data, tableIns);
                } else if (obj.event === 'del') {
                    baseDel('/base/del', data.id, tableIns, tableName);
                } else if (obj.event === 'rebuild') {
                    $.ajax({
                        url: '/base/rebuild',
                        type: 'get',
                        data: { id: data.id },
                        async: false,
                        success: function (data, textStatus) {
                            var code = data.code;
                            layer.msg(data.msg);
                            reloadTable(tableIns);
                        }
                    });
                }
            });
        });
        function cascadeField(form) {
            //处理字段之间的联动
            jQuery(".parent").hide();
            form.on('radio(isChild)', function (data) {
                if (data.value == 1) {
                    jQuery(".parent").show();
                } else if (data.value == 2) {
                    jQuery(".parent").hide();
                }
            });
            jQuery(".read2").hide();
            form.on('select(readKind)', function (data) {
                if (data.value == 1) {
                    jQuery(".read1").show();
                    jQuery(".read2").hide();
                } else if (data.value == 2) {
                    jQuery(".read1").hide();
                    jQuery(".read2").show();
                }
            });
            jQuery(".write2").hide();
            form.on('select(writeKind)', function (data) {
                if (data.value == 1) {
                    jQuery(".write1").show();
                    jQuery(".write2").hide();
                } else if (data.value == 2) {
                    jQuery(".write1").hide();
                    jQuery(".write2").show();
                }
            });
            form.on('select(polling_mode)', function (data) {
                if (data.value == 1) {
                    jQuery(".mode1").show();
                    jQuery(".mode2").hide();
                } else if (data.value == 2) {
                    jQuery(".mode1").show();
                    jQuery(".mode2").hide();
                } else if (data.value == 3) {
                    jQuery(".mode1").hide();
                    jQuery(".mode2").show();
                }
            });
        }
        function createOption(form) {
            const hourIndex = jQuery('#hourIndex');
            const minuteIndex = jQuery('#minuteIndex');
            for (let i = 1; i < 61; i++) {
                let text = "00" + i;
                text = text.slice(-2);
                if (i < 25) {
                    hourIndex.append(`<option value="${text}">${text}</option>`);
                }
                minuteIndex.append(`<option value="${text}">${text}</option>`);
            }
            form.render();
        }
    </script>
</body>

</html>