<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>接口管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">

    <script src="../../../javascripts/jquery-3.3.1.min.js"></script>
    <script src="../../../javascripts/basetable.js"></script>
</head>

<body>


    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">接口管理</div>
                    <div class="layui-card-body">
                        <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">
                            <button class="layui-btn" data-type="add">新增配置</button>
                        </div>

                        <table class="layui-hide" id="test-table-operate" lay-filter="test-table-operate"></table>

                        <script type="text/html" id="test-table-operate-barDemo">
                            <a class="layui-btn layui-btn-xs" lay-event='edit'>修改</a>
                            <a class="layui-btn layui-btn-xs" lay-event='view'>查看</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs"lay-event='del'>删除</a>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="site-text" style="margin: 5% 5% 5% 0;display: none;" id="window">
        <form class="layui-form" id="myForm" lay-filter="myForm">
            <div class="layui-row">
                <input type="hidden" name="id" autocomplete="off" class="layui-input">
                <div class="layui-col-xs6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">别名</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" lay-verify='required' autocomplete="off"
                                placeholder="请输入接口名称" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">提交方式</label>
                        <div class="layui-input-block">
                            <select name="method" lay-verify="required">
                                <option value="">请选择提交方式</option>
                                <option value="1" selected>post</option>
                                <option value="2">get</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12">
                    <div class="layui-form-item">
                        <label class="layui-form-label">URL</label>
                        <div class="layui-input-block">
                            <textarea type="text" name="url" lay-verify='required' autocomplete="off"
                                placeholder="请输入接口URL" class="layui-textarea"></textarea>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12">
                    <div class="layui-form-item">
                        <label class="layui-form-label">headers</label>
                        <div class="layui-input-block">
                            <textarea name="headers" lay-verify='' autocomplete="off"
                                placeholder="请输入key:val并用分号隔开" class="layui-textarea"></textarea>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12">
                    <div class="layui-form-item">
                        <label class="layui-form-label">额外参数</label>
                        <div class="layui-input-block">
                            <textarea name="extraParam" lay-verify='' autocomplete="off"
                                placeholder="请输入key:val并用分号隔开" class="layui-textarea"></textarea>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">Content-Type</label>
                        <div class="layui-input-block">
                            <select name="contentType" lay-verify="required">
                                <option value="">请选择包装格式</option>
                                <option value="1" selected>application/json</option>
                                <option value="2">application/x-www-form-urlencoded</option>
                                <option value="3">application/xml</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">原数据包装名</label>
                        <div class="layui-input-block">
                            <input type="text" name="recordPlace" lay-verify='' autocomplete="off"
                                placeholder="请输入原数据包装名称" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">原数据格式</label>
                        <div class="layui-input-block">
                            <select name="recordKind" lay-verify="required">
                                <option value="">请选择原数据格式</option>
                                <option value="1" selected>JSON对象</option>
                                <option value="2">数组</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">数据节点</label>
                        <div class="layui-input-block">
                            <input type="text" name="data_place" lay-verify='required' autocomplete="off"
                                placeholder="请输入数据根节点位置" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">成功节点</label>
                        <div class="layui-input-block">
                            <input type="text" name="success_place" lay-verify='required' autocomplete="off"
                                placeholder="请输入成功标记节点位置" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">成功值</label>
                        <div class="layui-input-block">
                            <input type="text" name="success_val" lay-verify='required' autocomplete="off"
                                placeholder="请输入成功标记的值" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <input type="button" lay-submit lay-filter="form_submit_btn" id="form_submit_btn" value="确认">
                </div>
            </div>
        </form>
    </div>

    <script src="../../../layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'table', 'view', 'form', 'util', 'myUtils'], function () {
            var table = layui.table
                , admin = layui.admin
                , view = layui.view
                , form = layui.form
                , util = layui.util
                , myUtils = layui.myUtils;
            var tableName = 'apiConfig';
            var tableIns = table.render({
                elem: '#test-table-operate'
                , url: '/base/searchList'
                , where: { tableName: tableName }
                , cellMinWidth:100
                , cols: [[
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'id', title: 'id', hide: true }
                    , { field: 'name', title: '名称', fixed: 'left' }
                    , { field: 'url', title: 'URL', fixed: 'left' }
                    , { field: 'method', title: '提交方式',templet:(d)=>{
                        return d.method == 1 ? 'POST' : "GET";
                    }}
                    , { field: 'headers', title: 'headers' }
                    , { field: 'extraParam', title: '额外参数' }
                    , { field: 'type', title: '数据格式',templet:(d)=>{
                        let type = '';
                        switch (d.contentType) {
                            case 1:
                                type = 'application/json';
                                break;
                            case 2:
                                type = 'application/x-www-form-urlencoded';
                                break;
                            case 3:
                                type = 'application/xml';
                                break;
                            default:
                                break;
                        }
                        return type;
                    }}
                    , { field: 'recordPlace', title: '原数据包装名' }
                    , { field: 'recordKind', title: '原数据包装格式' ,templet:(d)=>{
                        let kind = '';
                        switch (d.recordKind) {
                            case 1:
                                kind = 'JSON对象';
                                break;
                            case 2:
                                kind = '数组';
                                break;
                            default:
                                break;
                        }
                        return kind;
                    }}
                    , { field: 'data_place', title: '数据节点' }
                    , { field: 'success_place', title: '成功节点' }
                    , { field: 'success_val', title: '成功值' }
                    , {
                        field: 'dateCreated', title: '创建时间', templet: (d) => {
                            return util.toDateString(d.dateCreated, "yyyy-MM-dd HH:mm:ss");
                        }
                    }
                    , {
                        field: 'lastUpdated', title: '修改时间', templet: (d) => {
                            return util.toDateString(d.lastUpdated, "yyyy-MM-dd HH:mm:ss");
                        }
                    }
                    , { minWidth: 180, align: 'center', fixed: 'right', toolbar: '#test-table-operate-barDemo' }
                ]],
                page : true
            });

            var $ = layui.$, active = {
                add: function () { //新增
                    openMain('/base/save', null, form, 'myForm', tableIns,tableName);
                }
            };
            $('.test-table-operate-btn .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

            //监听工具条
            table.on('tool(test-table-operate)', function (obj) {
                var data = obj.data;
                if (obj.event === 'edit') {
                    openMain('/base/save', data, form, 'myForm', tableIns,tableName);
                } else if (obj.event === 'view') {
                    openMain(null, data, form, 'myForm', tableIns);
                } else if (obj.event === 'del') {
                    baseDel('/base/del', data.id, tableIns, tableName);
                }
            });
        });
    </script>
</body>

</html>