<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>字段管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">

    <script src="../../../javascripts/jquery-3.3.1.min.js"></script>
    <script src="../../../javascripts/basetable.js"></script>
</head>

<body>


    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">字段管理</div>
                    <div class="layui-card-body">
                        <div class="layui-btn-group test-table-operate-btn">
                            <button class="layui-btn" data-type="add">新增字段</button>
                        </div>
                        <div class="test-table-reload-btn">
                            <div class="layui-inline layui-form">
                                <div class="layui-form-item layui-inline">
                                    <div class="layui-input-block">
                                        <select name="moduleId" lay-verify="" id="moduleId">
                                            <option value="">请选择所属模块</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item layui-inline">
                                    <div class="layui-input-block">
                                        <input type="text" name="target_field" id="target_field" autocomplete="off" placeholder="目标字段"
                                            class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <button class="layui-btn" data-type="reload" style="margin-bottom: 15px;">搜索</button>
                        </div>

                        <table class="layui-hide" id="test-table-operate" lay-filter="test-table-operate"></table>

                        <script type="text/html" id="test-table-operate-barDemo">
                            <a class="layui-btn layui-btn-xs" lay-event='edit'>修改</a>
                            <a class="layui-btn layui-btn-xs" lay-event='view'>查看</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs"lay-event='del'>删除</a>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../../layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'table', 'view', 'form', 'util', 'myUtils'], function () {
            var table = layui.table
                , admin = layui.admin
                , view = layui.view
                , form = layui.form
                , util = layui.util
                , myUtils = layui.myUtils;
            var tableName = "User_field";

            var tableIns = table.render({
                elem: '#test-table-operate'
                , url: '/base/searchList'
                , where: { tableName: tableName }
                , cellMinWidth: 100
                , cols: [[
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'id', title: 'id', hide: true }
                    , { field: 'module', title: '模块名', fixed: 'left', width: 100, align: 'center' }
                    , { field: 'origin_field', title: '原字段', width: 100, align: 'center' }
                    , { field: 'target_field', title: '目标字段', width: 100, align: 'center' }
                    , { field: 'remark', title: '备注', width: 100, align: 'center' }
                    , {
                        field: 'is_weiyi', title: '是否唯一', width: 100, align: 'center', templet: (d) => {
                            return d.is_weiyi == 1 ? '是' : '否';
                        }
                    }
                    , {
                        field: 'is_default', title: '是否默认值', width: 100, align: 'center', templet: (d) => {
                            return d.is_default == 1 ? '是' : '否';
                        }
                    }
                    , {
                        field: 'is_dict', title: '是否数据字典', width: 100, align: 'center', templet: (d) => {
                            return d.is_dict == 1 ? '是' : '否';
                        }
                    }
                    , {
                        field: 'is_double', title: '是否数值', width: 100, align: 'center', templet: (d) => {
                            return d.is_double == 1 ? '是' : '否';
                        }
                    }
                    , {
                        field: 'is_date', title: '是否时间', width: 100, align: 'center', templet: (d) => {
                            return d.is_date == 1 ? '是' : '否';
                        }
                    }
                    , {
                        field: 'is_detail', title: '明细字段', width: 100, align: 'center', templet: (d) => {
                            return d.is_detail == 1 ? '是' : '否';
                        }
                    }
                    , { field: 'dict_show', title: '关联数据字典', width: 120, align: 'center' }
                    , { field: 'default_field', title: '默认值', width: 100, align: 'center' }
                    , { field: 'decimal_place', title: '小数位数', width: 100, align: 'center' }
                    , { field: 'sdf', title: '日期格式', width: 100, align: 'center' }
                    , { field: 'table_name', title: '关联CRM表名', width: 100, align: 'center' }
                    , {
                        field: 'dateCreated', title: '创建时间', width: 100, align: 'center', templet: (d) => {
                            return util.toDateString(d.dateCreated, "yyyy-MM-dd HH:mm:ss");
                        }
                    }
                    , {
                        field: 'lastUpdated', title: '修改时间', width: 100, align: 'center', templet: (d) => {
                            return util.toDateString(d.lastUpdated, "yyyy-MM-dd HH:mm:ss");
                        }
                    }
                    , { minWidth: 180, align: 'center', fixed: 'right', toolbar: '#test-table-operate-barDemo' }
                ]],
                page: true
            });

            var $ = layui.$, active = {
                add: function () { //新增
                    savePanel('/base/save', null, tableIns, tableName);
                },
                reload: function () {
                    var moduleId = $("#moduleId");
                    var target_field = $("#target_field");
                    //执行重载
                    table.reload('test-table-operate', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            moduleId: moduleId.val(),
                            target_field:target_field.val()
                        }
                    });
                }
            };
            $('.test-table-reload-btn .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
            $('.test-table-operate-btn .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

            //监听工具条
            table.on('tool(test-table-operate)', function (obj) {
                var data = obj.data;
                if (obj.event === 'edit') {
                    savePanel('/base/save', data, tableIns, tableName);
                } else if (obj.event === 'view') {
                    savePanel(null, data, tableIns);
                } else if (obj.event === 'del') {
                    baseDel('/base/del', data.id, tableIns, tableName);
                }
            });
            var dq = $("#moduleId");
            $.ajax({
                url: '/getModule',
                type: 'get',
                async: false,
                success: function (data, textStatus) {
                    var dict = data.arr;
                    for (var index in dict) {
                        var record = dict[index];
                        dq.append(`<option value="${record.id}">${record.name}</option>`);
                    }
                    form.render();
                }
            });
        });
    </script>
</body>

</html>